USE [master]
GO
/****** Object:  Database [DigitalTwinPatientDBTest]    Script Date: 11.02.2026 11:07:34 ******/
CREATE DATABASE [DigitalTwinPatientDBTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DigitalTwinPatientDBTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DigitalTwinPatientDBTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DigitalTwinPatientDBTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DigitalTwinPatientDBTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DigitalTwinPatientDBTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DigitalTwinPatientDBTest]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](30) NOT NULL,
	[Street] [nvarchar](30) NOT NULL,
	[Building] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BloodType]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_BloodType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultation]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[DateConsultation] [datetime] NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Consultation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnosis]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnosis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodeMKB] [nvarchar](5) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DiagnosisCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Diagnosis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiagnosisCategory]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosisCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_DiagnosisCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiagnosisStatus]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosisStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_DiagnosisStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Patronymic] [nvarchar](30) NULL,
	[SpecializationId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Phone] [nvarchar](12) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoseUnit]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoseUnit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_DoseUnit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Frequency]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Frequency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Frequency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthMetric]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthMetric](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[MetricTypeId] [int] NOT NULL,
	[Value] [decimal](10, 2) NOT NULL,
	[MeasuredAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_HealthMetric] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instruction]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instruction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Instruction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalCard]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalCard](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[BloodTypeId] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[Weight] [decimal](5, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_MedicalCard] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medication]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medication](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Medication] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetricType]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetricType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UnitOfMetricTypeId] [int] NOT NULL,
	[MinValue] [decimal](10, 2) NULL,
	[MaxValue] [decimal](10, 2) NULL,
 CONSTRAINT [PK_MetricType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Patronymic] [nvarchar](30) NULL,
	[GenderId] [int] NOT NULL,
	[AddressId] [int] NULL,
	[Birthday] [date] NOT NULL,
	[Phone] [nvarchar](12) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientComplaint]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientComplaint](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[SymptomId] [int] NOT NULL,
	[ComplaintDate] [date] NOT NULL,
	[SeverityId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_PatientComplaint] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientHistory]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DiagnosisId] [int] NOT NULL,
	[DiagnosedDate] [date] NOT NULL,
	[DiagnosisStatusId] [int] NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_PatientHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[MedicationId] [int] NOT NULL,
	[Quantity] [decimal](6, 2) NOT NULL,
	[DoseUnitId] [int] NOT NULL,
	[FrequencyId] [int] NOT NULL,
	[DurationInDays] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[InstructionId] [int] NOT NULL,
	[PrescriptionStatusId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Prescription] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrescriptionStatus]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_PrescriptionStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Severity]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Severity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Severity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialization]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialization](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Specialization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Symptom]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Symptom](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[SymptomCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Symptom] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SymptomCategory]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SymptomCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_SymptomCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitOfMetricType]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMetricType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_UnitOfMetricType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WellnessJournal]    Script Date: 11.02.2026 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WellnessJournal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[EntryDate] [date] NOT NULL,
	[MoodScore] [int] NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_WellnessJournal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([Id], [City], [Street], [Building]) VALUES (1, N'Вологда', N'Дальняя', N'1')
INSERT [dbo].[Address] ([Id], [City], [Street], [Building]) VALUES (2, N'Москва', N'пр-кт Победы', N'1234/2')
INSERT [dbo].[Address] ([Id], [City], [Street], [Building]) VALUES (3, N'Москва', N'Польская', N'1')
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[BloodType] ON 

INSERT [dbo].[BloodType] ([Id], [Name]) VALUES (1, N'I (0)')
INSERT [dbo].[BloodType] ([Id], [Name]) VALUES (2, N'II (A)')
INSERT [dbo].[BloodType] ([Id], [Name]) VALUES (3, N'III (B)')
SET IDENTITY_INSERT [dbo].[BloodType] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultation] ON 

INSERT [dbo].[Consultation] ([Id], [PatientId], [DoctorId], [DateConsultation], [Notes]) VALUES (1, 1, 5, CAST(N'2026-01-10T09:30:00.000' AS DateTime), N'Плановый осмотр. Жалоб нет. АД в норме.')
INSERT [dbo].[Consultation] ([Id], [PatientId], [DoctorId], [DateConsultation], [Notes]) VALUES (2, 2, 12, CAST(N'2026-01-15T11:00:00.000' AS DateTime), N'Жалобы на головную боль. Назначено обследование.')
SET IDENTITY_INSERT [dbo].[Consultation] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Id], [Name]) VALUES (1, N'Онкология')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (2, N'Терапия')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (3, N'Психиатрия')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Diagnosis] ON 

INSERT [dbo].[Diagnosis] ([Id], [CodeMKB], [Name], [DiagnosisCategoryId]) VALUES (1, N'I48', N'Фибрилляция предсердий', 1)
INSERT [dbo].[Diagnosis] ([Id], [CodeMKB], [Name], [DiagnosisCategoryId]) VALUES (2, N'E66.9', N'Ожирение, неуточненное', 2)
INSERT [dbo].[Diagnosis] ([Id], [CodeMKB], [Name], [DiagnosisCategoryId]) VALUES (3, N'I25.1', N'Атеросклеротическая болезнь сердца', 1)
SET IDENTITY_INSERT [dbo].[Diagnosis] OFF
GO
SET IDENTITY_INSERT [dbo].[DiagnosisCategory] ON 

INSERT [dbo].[DiagnosisCategory] ([Id], [Name]) VALUES (1, N'Кардиология')
INSERT [dbo].[DiagnosisCategory] ([Id], [Name]) VALUES (2, N'Эндокринология')
SET IDENTITY_INSERT [dbo].[DiagnosisCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[DiagnosisStatus] ON 

INSERT [dbo].[DiagnosisStatus] ([Id], [Name]) VALUES (1, N'Выздоровел')
SET IDENTITY_INSERT [dbo].[DiagnosisStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([Id], [Surname], [Name], [Patronymic], [SpecializationId], [DepartmentId], [Phone], [Email], [Password]) VALUES (1, N'Лебедева', N'Андрей', N'Иванович', 1, 1, N'7277807170', N'андрей.лебедева@@missing-domain', N'PU/RNceJS9SP0zaWQnvdxcYrSGNwIo3koV2R4KiiB0o=')
INSERT [dbo].[Doctor] ([Id], [Surname], [Name], [Patronymic], [SpecializationId], [DepartmentId], [Phone], [Email], [Password]) VALUES (2, N'Волков', N'Мария', N'Михайловна', 2, 2, N'7162523601', N'мария.волков@no-at-symbol.com', N'PasswordPassword!2')
INSERT [dbo].[Doctor] ([Id], [Surname], [Name], [Patronymic], [SpecializationId], [DepartmentId], [Phone], [Email], [Password]) VALUES (3, N'Лебедева', N'Мария', N'Александрович', 2, 1, N'7836659071', N'мария.лебедева@hospital.ru', N'PasswordPassword!3')
SET IDENTITY_INSERT [dbo].[Doctor] OFF
GO
SET IDENTITY_INSERT [dbo].[DoseUnit] ON 

INSERT [dbo].[DoseUnit] ([Id], [Name]) VALUES (1, N'мл')
INSERT [dbo].[DoseUnit] ([Id], [Name]) VALUES (2, N'капсула')
INSERT [dbo].[DoseUnit] ([Id], [Name]) VALUES (3, N'мг')
SET IDENTITY_INSERT [dbo].[DoseUnit] OFF
GO
SET IDENTITY_INSERT [dbo].[Frequency] ON 

INSERT [dbo].[Frequency] ([Id], [Name]) VALUES (1, N'2 раза в день')
INSERT [dbo].[Frequency] ([Id], [Name]) VALUES (2, N'1 раз в день')
INSERT [dbo].[Frequency] ([Id], [Name]) VALUES (3, N'Каждые 6 часов')
SET IDENTITY_INSERT [dbo].[Frequency] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([Id], [Name]) VALUES (1, N'Мужской')
INSERT [dbo].[Gender] ([Id], [Name]) VALUES (2, N'Женский')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthMetric] ON 

INSERT [dbo].[HealthMetric] ([Id], [PatientId], [MetricTypeId], [Value], [MeasuredAt], [CreatedAt]) VALUES (1, 1, 1, CAST(120.00 AS Decimal(10, 2)), CAST(N'2026-01-10T09:15:00.000' AS DateTime), CAST(N'2026-01-10T09:20:00.000' AS DateTime))
INSERT [dbo].[HealthMetric] ([Id], [PatientId], [MetricTypeId], [Value], [MeasuredAt], [CreatedAt]) VALUES (2, 1, 2, CAST(80.00 AS Decimal(10, 2)), CAST(N'2026-01-10T09:15:00.000' AS DateTime), CAST(N'2026-01-10T09:20:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[HealthMetric] OFF
GO
SET IDENTITY_INSERT [dbo].[Instruction] ON 

INSERT [dbo].[Instruction] ([Id], [Name]) VALUES (1, N'Контроль функции щитовидной железы каждые 3 месяца')
INSERT [dbo].[Instruction] ([Id], [Name]) VALUES (2, N'Принимать утром натощак')
INSERT [dbo].[Instruction] ([Id], [Name]) VALUES (3, N'При головокружении — прекратить приём')
SET IDENTITY_INSERT [dbo].[Instruction] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalCard] ON 

INSERT [dbo].[MedicalCard] ([Id], [PatientId], [BloodTypeId], [Height], [Weight], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 2, 178, CAST(75.50 AS Decimal(5, 2)), CAST(N'2025-01-15T10:30:00.000' AS DateTime), CAST(N'2026-01-20T14:25:00.000' AS DateTime))
INSERT [dbo].[MedicalCard] ([Id], [PatientId], [BloodTypeId], [Height], [Weight], [CreatedAt], [UpdatedAt]) VALUES (2, 2, 1, 165, CAST(68.20 AS Decimal(5, 2)), CAST(N'2025-02-10T09:15:00.000' AS DateTime), CAST(N'2026-01-25T11:40:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[MedicalCard] OFF
GO
SET IDENTITY_INSERT [dbo].[Medication] ON 

INSERT [dbo].[Medication] ([Id], [Name]) VALUES (1, N'Гидрохлоротиазид')
INSERT [dbo].[Medication] ([Id], [Name]) VALUES (2, N'Лосартан')
INSERT [dbo].[Medication] ([Id], [Name]) VALUES (3, N'Розувастатин')
SET IDENTITY_INSERT [dbo].[Medication] OFF
GO
SET IDENTITY_INSERT [dbo].[MetricType] ON 

INSERT [dbo].[MetricType] ([Id], [Name], [UnitOfMetricTypeId], [MinValue], [MaxValue]) VALUES (1, N'Артериальное давление (систолическое)', 1, CAST(90.00 AS Decimal(10, 2)), CAST(140.00 AS Decimal(10, 2)))
INSERT [dbo].[MetricType] ([Id], [Name], [UnitOfMetricTypeId], [MinValue], [MaxValue]) VALUES (2, N'Артериальное давление (диастолическое)', 1, CAST(60.00 AS Decimal(10, 2)), CAST(90.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[MetricType] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([Id], [Surname], [Name], [Patronymic], [GenderId], [AddressId], [Birthday], [Phone], [Email], [Password]) VALUES (1, N'Петров', N'Александр', N'Иванович', 1, 1, CAST(N'2001-01-01' AS Date), N'90144666967', N'ПетровАлександрИванович@rus.ru', N'PU/RNceJS9SP0zaWQnvdxcYrSGNwIo3koV2R4KiiB0o=')
INSERT [dbo].[Patient] ([Id], [Surname], [Name], [Patronymic], [GenderId], [AddressId], [Birthday], [Phone], [Email], [Password]) VALUES (2, N'Петров', N'Юлия', N'Петрович', 1, 2, CAST(N'1999-01-12' AS Date), N'41577248738', N'ПетровЮлияПетрович@rus.ru', N'PasswordPassword!2')
INSERT [dbo].[Patient] ([Id], [Surname], [Name], [Patronymic], [GenderId], [AddressId], [Birthday], [Phone], [Email], [Password]) VALUES (3, N'Попов', N'Юлия', N'Александрович', 1, 3, CAST(N'2025-02-25' AS Date), N'52765950496', N'ПоповЮлияАлександрович@rus.ru', N'PasswordPassword!3')
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
SET IDENTITY_INSERT [dbo].[PatientComplaint] ON 

INSERT [dbo].[PatientComplaint] ([Id], [PatientId], [SymptomId], [ComplaintDate], [SeverityId], [Description]) VALUES (1, 1, 1, CAST(N'2026-01-25' AS Date), 1, N'Умеренная головная боль, сопровождается тошнотой.')
INSERT [dbo].[PatientComplaint] ([Id], [PatientId], [SymptomId], [ComplaintDate], [SeverityId], [Description]) VALUES (2, 2, 2, CAST(N'2026-01-30' AS Date), 2, N'Часто хочется пить, особенно ночью.')
INSERT [dbo].[PatientComplaint] ([Id], [PatientId], [SymptomId], [ComplaintDate], [SeverityId], [Description]) VALUES (3, 3, 3, CAST(N'2026-01-28' AS Date), 1, N'Появилась после подъёма по лестнице.')
SET IDENTITY_INSERT [dbo].[PatientComplaint] OFF
GO
SET IDENTITY_INSERT [dbo].[PatientHistory] ON 

INSERT [dbo].[PatientHistory] ([Id], [PatientId], [DiagnosisId], [DiagnosedDate], [DiagnosisStatusId], [Notes]) VALUES (2, 1, 1, CAST(N'2025-01-01' AS Date), 1, N'Заболел')
SET IDENTITY_INSERT [dbo].[PatientHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescription] ON 

INSERT [dbo].[Prescription] ([Id], [PatientId], [DoctorId], [MedicationId], [Quantity], [DoseUnitId], [FrequencyId], [DurationInDays], [StartDate], [EndDate], [InstructionId], [PrescriptionStatusId], [CreatedAt]) VALUES (1, 2, 4, 1, CAST(50.00 AS Decimal(6, 2)), 1, 1, 90, CAST(N'2026-02-17' AS Date), CAST(N'2026-05-18' AS Date), 1, 1, CAST(N'2026-02-16T00:00:00.000' AS DateTime))
INSERT [dbo].[Prescription] ([Id], [PatientId], [DoctorId], [MedicationId], [Quantity], [DoseUnitId], [FrequencyId], [DurationInDays], [StartDate], [EndDate], [InstructionId], [PrescriptionStatusId], [CreatedAt]) VALUES (2, 9, 19, 2, CAST(25.00 AS Decimal(6, 2)), 2, 2, 60, CAST(N'2026-02-21' AS Date), NULL, 2, 2, CAST(N'2026-02-20T21:00:00.000' AS DateTime))
INSERT [dbo].[Prescription] ([Id], [PatientId], [DoctorId], [MedicationId], [Quantity], [DoseUnitId], [FrequencyId], [DurationInDays], [StartDate], [EndDate], [InstructionId], [PrescriptionStatusId], [CreatedAt]) VALUES (3, 3, 13, 2, CAST(1.00 AS Decimal(6, 2)), 3, 3, 21, CAST(N'2026-02-15' AS Date), CAST(N'2026-03-08' AS Date), 3, 3, CAST(N'2026-02-15T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Prescription] OFF
GO
SET IDENTITY_INSERT [dbo].[PrescriptionStatus] ON 

INSERT [dbo].[PrescriptionStatus] ([Id], [Name]) VALUES (1, N'Активно')
INSERT [dbo].[PrescriptionStatus] ([Id], [Name]) VALUES (2, N'Завершено  ')
INSERT [dbo].[PrescriptionStatus] ([Id], [Name]) VALUES (3, N'Отменено')
SET IDENTITY_INSERT [dbo].[PrescriptionStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Severity] ON 

INSERT [dbo].[Severity] ([Id], [Name]) VALUES (1, N'Умеренная')
INSERT [dbo].[Severity] ([Id], [Name]) VALUES (2, N'Легкая')
INSERT [dbo].[Severity] ([Id], [Name]) VALUES (3, N'Тяжелая')
SET IDENTITY_INSERT [dbo].[Severity] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialization] ON 

INSERT [dbo].[Specialization] ([Id], [Name]) VALUES (1, N'Кардиолог')
INSERT [dbo].[Specialization] ([Id], [Name]) VALUES (2, N'Гастроэнтеролог')
INSERT [dbo].[Specialization] ([Id], [Name]) VALUES (3, N'Хирург-онколог')
SET IDENTITY_INSERT [dbo].[Specialization] OFF
GO
SET IDENTITY_INSERT [dbo].[Symptom] ON 

INSERT [dbo].[Symptom] ([Id], [Name], [Description], [SymptomCategoryId]) VALUES (1, N'Головная боль', N'Регулярные головные боли утром', 2)
INSERT [dbo].[Symptom] ([Id], [Name], [Description], [SymptomCategoryId]) VALUES (2, N'Повышенная жажда', N'Частое чувство жажды', 5)
INSERT [dbo].[Symptom] ([Id], [Name], [Description], [SymptomCategoryId]) VALUES (3, N'Одышка при физической нагрузке', N'Трудность дыхания при ходьбе', 1)
SET IDENTITY_INSERT [dbo].[Symptom] OFF
GO
SET IDENTITY_INSERT [dbo].[SymptomCategory] ON 

INSERT [dbo].[SymptomCategory] ([Id], [Name]) VALUES (1, N'Сердечно-сосудистые')
INSERT [dbo].[SymptomCategory] ([Id], [Name]) VALUES (2, N'Неврологические')
INSERT [dbo].[SymptomCategory] ([Id], [Name]) VALUES (3, N'Дыхательные')
SET IDENTITY_INSERT [dbo].[SymptomCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitOfMetricType] ON 

INSERT [dbo].[UnitOfMetricType] ([Id], [Name]) VALUES (1, N'мм рт. ст.')
INSERT [dbo].[UnitOfMetricType] ([Id], [Name]) VALUES (2, N'°C')
INSERT [dbo].[UnitOfMetricType] ([Id], [Name]) VALUES (3, N'уд./мин')
SET IDENTITY_INSERT [dbo].[UnitOfMetricType] OFF
GO
SET IDENTITY_INSERT [dbo].[WellnessJournal] ON 

INSERT [dbo].[WellnessJournal] ([Id], [PatientId], [EntryDate], [MoodScore], [Notes]) VALUES (1, 1, CAST(N'2026-01-05' AS Date), 8, N'Хорошее самочувствие, продуктивный день.')
INSERT [dbo].[WellnessJournal] ([Id], [PatientId], [EntryDate], [MoodScore], [Notes]) VALUES (2, 2, CAST(N'2026-01-10' AS Date), 6, N'Чувствую усталость, немного болит голова.')
SET IDENTITY_INSERT [dbo].[WellnessJournal] OFF
GO
ALTER TABLE [dbo].[Consultation]  WITH CHECK ADD  CONSTRAINT [FK_Consultation_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([Id])
GO
ALTER TABLE [dbo].[Consultation] CHECK CONSTRAINT [FK_Consultation_Doctor]
GO
ALTER TABLE [dbo].[Consultation]  WITH CHECK ADD  CONSTRAINT [FK_Consultation_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[Consultation] CHECK CONSTRAINT [FK_Consultation_Patient]
GO
ALTER TABLE [dbo].[Diagnosis]  WITH CHECK ADD  CONSTRAINT [FK_Diagnosis_DiagnosisCategory] FOREIGN KEY([DiagnosisCategoryId])
REFERENCES [dbo].[DiagnosisCategory] ([Id])
GO
ALTER TABLE [dbo].[Diagnosis] CHECK CONSTRAINT [FK_Diagnosis_DiagnosisCategory]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Department]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Specialization] FOREIGN KEY([SpecializationId])
REFERENCES [dbo].[Specialization] ([Id])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Specialization]
GO
ALTER TABLE [dbo].[HealthMetric]  WITH CHECK ADD  CONSTRAINT [FK_HealthMetric_MetricType] FOREIGN KEY([MetricTypeId])
REFERENCES [dbo].[MetricType] ([Id])
GO
ALTER TABLE [dbo].[HealthMetric] CHECK CONSTRAINT [FK_HealthMetric_MetricType]
GO
ALTER TABLE [dbo].[HealthMetric]  WITH CHECK ADD  CONSTRAINT [FK_HealthMetric_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[HealthMetric] CHECK CONSTRAINT [FK_HealthMetric_Patient]
GO
ALTER TABLE [dbo].[MedicalCard]  WITH CHECK ADD  CONSTRAINT [FK_MedicalCard_BloodType] FOREIGN KEY([BloodTypeId])
REFERENCES [dbo].[BloodType] ([Id])
GO
ALTER TABLE [dbo].[MedicalCard] CHECK CONSTRAINT [FK_MedicalCard_BloodType]
GO
ALTER TABLE [dbo].[MedicalCard]  WITH CHECK ADD  CONSTRAINT [FK_MedicalCard_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[MedicalCard] CHECK CONSTRAINT [FK_MedicalCard_Patient]
GO
ALTER TABLE [dbo].[MetricType]  WITH CHECK ADD  CONSTRAINT [FK_MetricType_UnitOfMetricType] FOREIGN KEY([UnitOfMetricTypeId])
REFERENCES [dbo].[UnitOfMetricType] ([Id])
GO
ALTER TABLE [dbo].[MetricType] CHECK CONSTRAINT [FK_MetricType_UnitOfMetricType]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Address]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Gender]
GO
ALTER TABLE [dbo].[PatientComplaint]  WITH CHECK ADD  CONSTRAINT [FK_PatientComplaint_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[PatientComplaint] CHECK CONSTRAINT [FK_PatientComplaint_Patient]
GO
ALTER TABLE [dbo].[PatientComplaint]  WITH CHECK ADD  CONSTRAINT [FK_PatientComplaint_Severity] FOREIGN KEY([SeverityId])
REFERENCES [dbo].[Severity] ([Id])
GO
ALTER TABLE [dbo].[PatientComplaint] CHECK CONSTRAINT [FK_PatientComplaint_Severity]
GO
ALTER TABLE [dbo].[PatientComplaint]  WITH CHECK ADD  CONSTRAINT [FK_PatientComplaint_Symptom] FOREIGN KEY([SymptomId])
REFERENCES [dbo].[Symptom] ([Id])
GO
ALTER TABLE [dbo].[PatientComplaint] CHECK CONSTRAINT [FK_PatientComplaint_Symptom]
GO
ALTER TABLE [dbo].[PatientHistory]  WITH CHECK ADD  CONSTRAINT [FK_PatientHistory_Diagnosis] FOREIGN KEY([DiagnosisId])
REFERENCES [dbo].[Diagnosis] ([Id])
GO
ALTER TABLE [dbo].[PatientHistory] CHECK CONSTRAINT [FK_PatientHistory_Diagnosis]
GO
ALTER TABLE [dbo].[PatientHistory]  WITH CHECK ADD  CONSTRAINT [FK_PatientHistory_DiagnosisStatus] FOREIGN KEY([DiagnosisStatusId])
REFERENCES [dbo].[DiagnosisStatus] ([Id])
GO
ALTER TABLE [dbo].[PatientHistory] CHECK CONSTRAINT [FK_PatientHistory_DiagnosisStatus]
GO
ALTER TABLE [dbo].[PatientHistory]  WITH CHECK ADD  CONSTRAINT [FK_PatientHistory_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[PatientHistory] CHECK CONSTRAINT [FK_PatientHistory_Patient]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([Id])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_Doctor]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_DoseUnit] FOREIGN KEY([DoseUnitId])
REFERENCES [dbo].[DoseUnit] ([Id])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_DoseUnit]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Frequency] FOREIGN KEY([FrequencyId])
REFERENCES [dbo].[Frequency] ([Id])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_Frequency]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Instruction] FOREIGN KEY([InstructionId])
REFERENCES [dbo].[Instruction] ([Id])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_Instruction]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Medication] FOREIGN KEY([MedicationId])
REFERENCES [dbo].[Medication] ([Id])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_Medication]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_Patient]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_PrescriptionStatus] FOREIGN KEY([PrescriptionStatusId])
REFERENCES [dbo].[PrescriptionStatus] ([Id])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_PrescriptionStatus]
GO
ALTER TABLE [dbo].[Symptom]  WITH CHECK ADD  CONSTRAINT [FK_Symptom_SymptomCategory] FOREIGN KEY([SymptomCategoryId])
REFERENCES [dbo].[SymptomCategory] ([Id])
GO
ALTER TABLE [dbo].[Symptom] CHECK CONSTRAINT [FK_Symptom_SymptomCategory]
GO
ALTER TABLE [dbo].[WellnessJournal]  WITH CHECK ADD  CONSTRAINT [FK_WellnessJournal_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[WellnessJournal] CHECK CONSTRAINT [FK_WellnessJournal_Patient]
GO
ALTER TABLE [dbo].[HealthMetric]  WITH CHECK ADD  CONSTRAINT [CHK_HealthMetric_CreatedAt] CHECK  (([CreatedAt]>=[MeasuredAt]))
GO
ALTER TABLE [dbo].[HealthMetric] CHECK CONSTRAINT [CHK_HealthMetric_CreatedAt]
GO
ALTER TABLE [dbo].[HealthMetric]  WITH CHECK ADD  CONSTRAINT [CHK_HealthMetric_MeasuredAt] CHECK  (([MeasuredAt]<=getdate()))
GO
ALTER TABLE [dbo].[HealthMetric] CHECK CONSTRAINT [CHK_HealthMetric_MeasuredAt]
GO
USE [master]
GO
